{% extends '@!EasyAdmin/layout.html.twig' %}

{% block importmap %}{{ ea_importmap('app') }}{% endblock %}

{% block content_title %}DEV4YOU{% endblock %}

{% block content %}
        <div class="mb-3 mt-4">
            <div class="row row-eq-height">
                <div class="col-12">
                </div>
            </div>
        </div>
{% endblock %}
